uses edit
<main>
        <div class="container">
        <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2>User info</h2>
      <div class="form-group">
        <label for="user_name">Name</label>
        <input class="form-control name" type="text" value="AAAAA" name="user[name]" id="user_name">
      </div>
      <div class="form-group">
        <label for="user_image">Image</label>
        <input class="form-control-file user_image" accept="image/*" type="file" name="user[profile_image]" id="user_profile_image">
      </div>
      <div class="form-group">
        <label for="user_introduction">Introduction</label>
        <textarea class="form-control introduction" name="user[introduction]" id="user_introduction"></textarea>
      </div>
      <div class="form-group">
      <%= link_to 'Update User', user_path(current_user.id), class: 'btn btn-secondary' %>
    </div>
</main>