 User index
<html>
  <main>
  <%= render 'books/book', user: current_user, book_new: @book_new %>
                  <div class='col-md-8 offset-md-4'>
                    <h2>Users</h2>
                    <table class='table' >
                          <th>image</th>
                          <th>name</th>
                      <tbody>
                        <% @books.each do |book| %>
                        <!-- 投稿者の画像を表示 -->
                        <td class="d-flex align-items-center justify-content-start">
                          <%= image_tag @user.get_profile_image(80,80), class: "rounded-circle mr-2" %>
                          <%= @user.name %>
                        </td>

                          <!-- 詳細ページへのリンク -->
                          <td>
                            <%= link_to 'Show', user_path(@user), class: "btn-outline-info out" %>
                          </td>
                      </tbody>
                      <% end %>
                    </table>
                  </div>
                  </div>
                  </div>
                  </main>
              </html>
