<div class="col-md-6 mx-auto mt-5">
  <h1>welcome to <i class="fa-solid fa-book"></i><strong>Bookers</strong>  !!</h1>
  <p>In  <span class="glyphicon glyphicon-book"></span><i class="fa-solid fa-book"></i><strong>Bookers</strong>, </p>
  <p>you can share and exchange your opinions , inpressions , and emotions</p>
  <p>about various books!</p>
  
  <div class="row">
    <p class="mx-auto"><a class="btn btn-info" href="/users/sign_in">Log in</a></p>
    <p class="mx-aut"><a class="btn btn-success" href="/users/sign_up">Sign Up</a></p>
  </div>

<footer>
  <div class="container mt-5">
    <div class="row">
      <div class="mx-auto">
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>
</div>
